@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(119, 246, 228, 1) 0%, rgba(159, 201, 233, 1) 100%);
    background: linear-gradient(25deg, #ffffff 40%, transparent 41%, transparent 59%, #ffffff 60%) ,linear-gradient(90deg, transparent 45%, #9ec5d2 45%, #9ec5d2 55%, transparent 55%, transparent 20%, #9ec5d2 20%, #9ec5d2 30%,transparent 30%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 
                0 0 40px rgba(0, 0, 0, 0.1), 
                inset 0 0 20px rgba(255, 255, 255, 0.1), 
                inset 0 0 20px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.container .title {
    font-size: 25px;
    font-weight: 500;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 30px;
    background: rgba(119, 246, 228, 1);
}

.container form .student-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .student-info .input-box {
    margin-bottom: 15px;
    width: calc(50% - 20px);
}


.input-box input[type="radio"],
.input-box span.details {
    margin-right: 50px; 
}



.student-info .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input[type="radio"] {
    margin-right: 4px;
}

.student-info .input-box input[type="text"],
.student-info .input-box input[type="password"],
.student-info .input-box select,
.student-info .input-box textarea {
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

#year-course-container {
    display: flex;
    justify-content: center;
}

.year-selection select,
.course-selection select {
    margin-right: 100px;
    width:70px; 
}


.interest-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center; 
}

.interest-list li {
    width: 50%;
    margin-bottom: 7px;
}

.interest-list label {
    display: inline-block;
    width: 100%;
}



.student-info .input-box input:focus,
.student-info .input-box input:valid {
    border-color: rgb(119, 246, 228);
}

.submit_btn {
    height: auto;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 0;
    background: radial-gradient(circle, rgba(119, 246, 228, 1) 0%, rgba(159, 201, 233, 1) 100%);
    margin-top: 30px; 
}

.title-reg{
    font-size: 20px;
}


.reg-details {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;

}

.response {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-left: 150px;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.response:hover {
    background-color: #ddd; 
}

.reg-details,
.reg-details::after {
    color: #333;
}

.reg-section p {
    margin: 0;
    overflow: hidden; 
}

#reset {
    height: auto;
    width: 15%;
    outline: none;
    color: #000;
    border: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 0;
    margin: 10px auto; 
    border-radius: 30px;
    display: block; 
    text-align: center; 
}

.input-box textarea {
    height: 300px; 
    padding: 10px;
}




.submit_btn:hover,
#reset:hover {
    background: radial-gradient(circle, rgba(159, 201, 233, 1) 100%, rgba(119, 246, 228, 1) 0%);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .student-info .input-box {
        width: 100%;
    }

    .container form .details {
        max-height: 300px;
        overflow-y: scroll;
    }
}
